* {
    box-sizing: border-box;
}
/* CSS Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.grid_logo {
  grid-area: 1 / 1 / span 2 / span 2;
}
.grid-header {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: .5;
  grid-row-end: .5;
}
.grid-services {
  grid-area: 2 / 1 / span 2 / span 3;
}
.grid-register {
  grid-column-start: 4;
}
.grid-aside {
  grid-column-start: 4;
}
.grid-image1 {
  width: .33%;
}
.col {
    float: left;
    padding: 5px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.span_1_of_12 {
  width: 8.33%;
}

.span_2_of_12 {
  width: 16.66%;
}

.span_3_of_12 {
  width: 25%;
}

.span_4_of_12 {
  width: 33.33%;
}

.span_5_of_12 {
  width: 41.66%;
}

.span_6_of_12 {
  width: 50%;
}

.span_7_of_12 {
  width: 58.33%;
}

.span_8_of_12 {
  width: 66.66%;
}

.span_9_of_12 {
  width: 75%;
}

.span_10_of_12 {
  width: 83.33%;
}

.span_11_of_12 {
  width: 91.66%;
}

.span_12_of_12 {
  width: 100%;
}
