/* CSS archerystylesheet.css for archery-index.html and archery-about.html */
* {
    box-sizing: border-box;
}
body {
  font: Arial normal, sans-serif;
  font-size: 17px;
}
.item0 {
  grid-area: myL;
  float: left;
  align: left;
}
.item1 {
  grid-area: myA;
}
.item2 {
  grid-area: myA1;
}
.item3 {
  grid-area: myA2;
}
.item4 {
  grid-area: myA3;
}
.item5 {
  grid-area: myA4;
}
.item6 {
  grid-area: myA5;
}
.item7 {
  grid-area: myA6;
}
.item8 {
  grid-area: myA7;
}
.item9 {
  grid-area: myA8;
}
.grid-container {
  display: grid;
  grid-template-areas:
  'myL myL myL . . . . . . . . .'
  'myA myA myA myA myA myA myA myA myA myA myA myA'
  'myA1 myA1 myA1 myA1 myA1 myA1 myA2 myA2 myA2 myA2 myA3 myA3'
  'myA1 myA1 myA1 myA1 myA1 myA1 myA2 myA2 myA2 myA2 myA3 myA3'
  'myA1 myA1 myA1 myA1 myA1 myA1 myA2 myA2 myA2 myA2 myA3 myA3'
  'myA4 myA4 myA4 my4 myA5 myA5 myA5 myA5 myA6 myA6 myA6 myA6'
  'myA7 myA7 myA7 myA7 myA8 myA8 myA8 myA8 myA8 myA8 myA8 myA8';
  grid-gap: 10px;
  /* background-color: #2196F3;*/
  padding: 10px;
}
.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8);*/
  text-align: center;
  pading: 20px 0;
  font-size: 30px;
}

.services {
display: block;
}
.lessons  {
color: #444444;
background: #ffffff;
font-family: Arial Regular, sans-serif;
font-size: 17px;
line-height: 20px;
margin: 0;
text-align: left;
box-sizing: content-box;
width: 500px;
padding: 25px;
border: 2px solid #03a3df;

}
/* Header for Lessons */
.header {
color: #ffffff;
background: #03a3df;
font-family: Arial Bold, sans-serif;
text-align: left;
margin: 1;
box-sizing: container;
width: 400px;
padding: 0;
position:
}

/* TYPOGRAPHY */
h1  {
  font: Arial bold, sans-serif;
  font-size: 40px;
}
h2  {
  font: Arial bold, sans-serif;
  font-size: 24px;
}
h3  {
  font: Arial bold, sans-serif;
  font-size: 17px;
}
p {
  text-align: left;
  font-size: 17px;
  font-family: Arial sans-serif;
}
/* CALL-OUTS & QUOTES */
.quotes {
  font: Arial normal, sans-serif;
  font-size: 30px;
  color: #03a3df;
}
.call-out {
  font: Arial bold, sans-serif;
  font-size: 14px;
  font-variant-caps: titling-caps;
  color: #03a3df;
}
.class-desc {
  font: Arial normal, sans-serif;
  font-size: 17px;
  align: left;
  color: #444444;
}
.class-desc h2 h4 {
  font: Arial bold, sans-serif;
  font-size: 24px;
  align-items: flex-start;
  color: #ecb722;
}
.class-desc h3 {
  font: Arial bold, sans-serif;
  font-size: 24px;
  align-items: flex-start;
  color: #1b4471;
}
aside {
  width: 30%;
  padding-left: 5px;
  margin-left: 5px;
  float: right;
  font-style: Arial, sans-serif;
  background-color: #ffffff;
}
.side {
  border-style: solid;
  border-width:thin;
  border-color: #03a3df;
  font-size: 14px;
  color: #4a4e51;
  z-index: 999;
}
ul {
  display: block;
  list-style-type: square;
  margin: 1em 1em 0 0;
  padding-left: 40px;
}
li {
  display: list-item;
  list-style-type: square;
  font-family: Arial, sans-serif;
  text-align: left;
  font-size: 17px;

}
.side h3 {
  color:#4a4e51;
  font-weight: bold;
  font-family: Arial Regular, sans-serif;
}
.sidenav {
  background-color: #ffffff;
  overflow: hidden;
  color: #25b4d2;
}
.sidenav a {
  color: #25b4d2;
  text-align: left;
  text-decoration: none;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 12px;
}
.img-logo {
  background-color: #03a3df;
  float: left
}
/* Navigation Bar */
.navbar {
width: 100%;
background-color: #1b447f;
position: relative;
overflow: hidden;
}

/* Navbar links */
.navbar a {
display: block;
float: left;
text-align: center;
padding: 5px;
color: #ffffff;
text-decoration: none;
font-family: Arial Regular, sans-serif;
font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
background-color: #ecb722;
color: #1b447f;
}

/* Current/active navbar link */
.active {
background-color: #03a3df;
}

/* footer */
.container {
  position: relative;
  text-align: center;
  color: #ffffff;
  font: Arial bold, sans-serif;
  font-size: 17px;

}
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  bottom: 25%;

}
