/* CSS archerystylesheet.css for archery-index.html and archery-about.html */
* {
    box-sizing: border-box;
}
body {
  font: Arial normal, sans-serif;
  font-size: 17px;
}

/* CSS Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  justify-content: space-evenly;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 5;
}
.grid-item-2 {
  grid-area: 2 / 1 / span 3 / span 3;
}
.grid-item-3 {
  grid-column-start: 1;
  grid-column-end: 5;
}
.grid-item-4 {
  grid-column-start: 4;
}
.grid-item-5 {
  grid-column-start: 1;
}
.grid-item-6 {
  grid-column-start: 2;
}
.grid-item-7 {
  grid-column-start: 3;
}
.grid-item-8 {
  grid-column-start: 4;
}
.grid-item-9 {
  grid-area: 5 / 1 / span 1 / span 4;
}

/* TYPOGRAPHY */
h1  {
  font: Arial bold, sans-serif;
  font-size: 40px;
}
h2  {
  font: Arial bold, sans-serif;
  font-size: 24px;
}
h3  {
  font: Arial bold, sans-serif;
  font-size: 17px;
}
/* CALL-OUTS & QUOTES */
.quotes {
  font: Arial normal, sans-serif;
  font-size: 30px;
  color: #03a3df;
}
.call-out {
  font: Arial bold, sans-serif;
  font-size: 14px;
  font-variant-caps: titling-caps;
  color: #03a3df;
}
.class-desc {
  font: Arial normal, sans-serif;
  font-size: 17px;
  align: left;
  color: #444444;
}
.class-desc h2 h4 {
  font: Arial bold, sans-serif;
  font-size: 24px;
  align-items: flex-start;
  color: #ecb722;
}
.class-desc h3 {
  font: Arial bold, sans-serif;
  font-size: 24px;
  align-items: flex-start;
  color: #1b4471;
}
aside {
  width: 30%;
  padding-left: 5px;
  margin-left: 5px;
  float: right;
  font-style: Arial, sans-serif;
  background-color: #ffffff;
}
.side {
  border-style: solid;
  border-width:thin;
  border-color: #03a3df;
  font-size: 14px;
  color: #4a4e51;
  z-index: 999;
}
ul {
  display: block;
  list-style-type: square;
  margin: 1em 1em 0 0;
  padding-left: 40px;
}
li {
  display: list-item;
  list-style-type: square;
  font-family: Arial, sans-serif;
  text-align: left;
  font-size: 17px;

}
.side h3 {
  color:#4a4e51;
  font-weight: bold;
  font-family: Arial Regular, sans-serif;
}
.sidenav {
  background-color: #ffffff;
  overflow: hidden;
  color: #25b4d2;
}
.sidenav a {
  color: #25b4d2;
  text-align: left;
  text-decoration: none;
  padding: 0;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 12px;
}
.img-logo {
  background-color: #03a3df;
  float: left
}
